@import "tailwindcss";

main {
    @apply
    self-stretch
    self-stretch
    inline-flex
    justify-start
    items-center
    gap-6;
}

.page-navigation-container {
    @apply
    self-stretch
    p-6
    bg-white/30
    rounded-xl
    shadow-[4px_4px_4px_0px_rgba(0,0,0,0.10)]
    shadow-[inset_-2px_-2px_8px_0px_rgba(0,0,0,0.15)]
    shadow-[inset_2px_2px_4px_0px_rgba(255,255,255,0.25)]
    backdrop-blur-md
    inline-flex
    flex-col
    justify-start
    items-center
    overflow-hidden;
}

.main-container{
    @apply
    self-stretch
    self-stretch
    bg-white/30
    rounded-xl
    shadow-[4px_4px_4px_0px_rgba(0,0,0,0.10)]
    shadow-[inset_-2px_-2px_8px_0px_rgba(0,0,0,0.15)]
    shadow-[inset_2px_2px_4px_0px_rgba(255,255,255,0.25)]
    backdrop-blur-md
    inline-flex
    items-start
    overflow-hidden
    p-6;
}

.main-container__text{
    width: 50%;
    @apply
    self-stretch
    inline-flex
    flex-col
    justify-start
    items-start
    gap-12;
}

.flore__main-container__image{
    width: 659px;
    height: 100%;
    z-index: 1;
    position: relative;
    @apply
    right-0 top-0 absolute origin-top-left
}