@import "tailwindcss";

body {
  @apply
  bg-cover
  bg-[url(assets/img/home-bg.jpg)];
}
h1 {
  @apply
    text-center
    block;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex-grow: 1;
  align-self: stretch;
  /*@apply*/
  /*self-stretch*/
  /*inline-flex*/
  /*justify-center*/
  /*items-center*/
  /*gap-16*/
  /*overflow-hidden*/
  /*h-100*/
  /*py-6;*/
}

footer {
  @apply
  self-stretch
  inline-flex
  justify-center
  items-center
  gap-12;
}
